# ---------- Node / Next.js ----------
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/
next-env.d.ts

# Producción
.vercel

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# ---------- Python ----------
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Distribución / empaquetado
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing / linting
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# ---------- Variables de entorno ----------
.env
.env.*
!.env.example

# ---------- Sistema operativo ----------
.DS_Store
Thumbs.db

# ---------- Editores ----------
.idea/
.vscode/
*.swp
*.swo
